# {{ ansible_managed }}

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="{{ omz_theme }}"

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="{{ omz_case_sensitive_completion }}"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="{{ omz_hyphen_insensitive_completion }}"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="{{ omz_disable_auto_update }}"

# Uncomment the following line to change how often to auto-update (in days).
export UPDATE_ZSH_DAYS={{ omz_auto_update_interval }}

# Uncomment the following line to disable colors in ls.
DISABLE_LS_COLORS="{{ omz_disable_ls_colors}}"

# Uncomment the following line to disable auto-setting terminal title.
DISABLE_AUTO_TITLE="{{ omz_disable_auto_title }}"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="{{ omz_enable_auto_correction }}"

COMPLETION_WAITING_DOTS="{{ omz_completion_waiting_dots }}" 

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="{{ omz_history_stamps }}"

plugins=({{ omz_plugins }})
source $ZSH/oh-my-zsh.sh

# ssh
# export SSH_KEY_PATH="~/.ssh/rsa_id"

alias ll="ls -lh"
alias lla="ls -lah"
alias k="kubectl"

export LS_COLORS="rs=0:di=38;5;117:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32"
export TERM=xterm-256color
export EDITOR=vim
export VISUAl=vim
export LANG={{ omz_language }}

# zsh prompt
if [[ "$USER" == "root" ]]; then
    is_root='%F{203}%#%f'
else
    is_root='$'
fi

if [[ -n "$SSH_CLIENT" ]]; then
    ssh_prompt='%F{203}☢%f '
else
    ssh_prompt=''
fi

PROMPT='${ssh_prompt}%n%F{147}@%f%m:%F{147}%~$(git_prompt_info)%f${is_root} %{$reset_color%}'
RPROMPT='%F{237}%T%f'
ZSH_THEME_GIT_PROMPT_PREFIX="%f[%F{147}"
ZSH_THEME_GIT_PROMPT_SUFFIX="%{$reset_color%}]"
ZSH_THEME_GIT_PROMPT_DIRTY="%F{203}✗"
ZSH_THEME_GIT_PROMPT_CLEAN="✔"

# enable back-tab-completion with shift-tab
bindkey '^[[Z' reverse-menu-complete
